@{
    ViewBag.Title = "Home Page";
}
<p>This site showcases the Architecture Proof of Concept work for the Trades and Allocations Team</p>
<p>Some areas of this site are protected with a username and password</p>
<p>Contact Nigel Snow at Euromoney to get access</p>
