@{
    ViewBag.Title = "Download the code";
}

<p>
This is not production ready code but you can download the code for this solution by clicking <a href="https://www.dropbox.com/s/lo35qm4qrhmbcky/ProofOfConceptV1.zip">here</a>.  
</p>
